* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  background: #edf2f5;
}

:root {
  font-size: 55.5%; /*mudei de 62.5 pq estava muito grande pra minha tela*/
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 "Nunito", sans-serif;
}
